<div id="<%= dom_id retention_email %>">
  <p>
    <strong>Body:</strong>
    <%= retention_email.body %>
  </p>

  <p>
    <strong>Date from:</strong>
    <%= retention_email.date_from %>
  </p>

  <p>
    <strong>Date to:</strong>
    <%= retention_email.date_to %>
  </p>

</div>
