<h1>Editing retention email</h1>

<%= render "form", retention_email: @retention_email %>

<br>

<div>
  <%= link_to "Show this retention email", @retention_email %> |
  <%= link_to "Back to retention emails", retention_emails_path %>
</div>
